# Tugas 2

## Preprocessing Data

In [22]:
import numpy as np
import pandas as pd

In [33]:
pr=pd.read_csv('prepos.csv')
pr.head()

,Ranking,Author ID,fullname,NIDN,sinta_score,scopus_citation,sinta_score_3_year,scopus_hindex,google_citations,google_hindex,afiliasi_name
0,1,5984431,TATAG YULI EKO SISWONO,8077106,20.52,42.0,10.03,4.0,1537.0,18.0,Universitas Negeri Surabaya
1,2,5998595,ZULKARDI,2046104,18.37,66.0,7.03,5.0,656.0,15.0,Universitas Sriwijaya
2,3,5994183,DIDI SURYADI,1025803,17.54,10.0,9.01,2.0,688.0,14.0,Universitas Pendidikan Indonesia
3,4,260221,ABDUL RAHMAN,17046203,17.38,256.0,13.65,10.0,257.0,10.0,Universitas Negeri Makassar
4,5,5978419,ARIYADI WIJAYA,16078201,14.32,56.0,2.44,3.0,883.0,9.0,Universitas Negeri Yogyakarta

In [34]:
pr.tail()

,Ranking,Author ID,fullname,NIDN,sinta_score,scopus_citation,sinta_score_3_year,scopus_hindex,google_citations,google_hindex,afiliasi_name
2092,2093,6171719,ZUHROTUN NAZIHAH,730068806,NaN,NaN,NaN,NaN,NaN,NaN,STKIP PGRI Pasuruan
2093,2094,6099967,ZULFA RAZI,111048801,NaN,NaN,NaN,NaN,NaN,NaN,Universitas Jabal Ghafur
2094,2095,6645445,ZULFAHMI,1311108901,NaN,NaN,NaN,NaN,NaN,NaN,STKIP Bumi Persada Lhokseumawe
2095,2096,6000508,ZULHENDRI,1010108004,NaN,NaN,NaN,NaN,NaN,NaN,Universitas Pahlawan Tuanku Tambusai
2096,2097,6673498,ZURAIDAH,2012047204,NaN,NaN,NaN,NaN,NaN,NaN,Institut Agama Islam Negeri Kediri

In [24]:
pr.describe()

,Ranking,Author ID,sinta_score,scopus_citation,sinta_score_3_year,scopus_hindex,google_citations,google_hindex
count,2097.000000,2.097000e+03,1393.000000,171.000000,932.000000,171.000000,1423.000000,1423.000000
mean,1049.000000,5.883334e+06,0.656001,13.228070,0.487049,1.543860,39.640197,2.085032
std,605.496078,1.231049e+06,1.690936,27.471708,1.148716,1.069417,294.762141,1.837014
min,1.000000,2.340000e+02,0.010000,1.000000,0.010000,1.000000,1.000000,1.000000
25%,525.000000,5.997119e+06,0.040000,1.000000,0.020000,1.000000,2.000000,1.000000
50%,1049.000000,6.033488e+06,0.140000,4.000000,0.070000,1.000000,8.000000,1.000000
75%,1573.000000,6.156014e+06,0.460000,13.000000,0.430000,2.000000,21.000000,2.000000
max,2097.000000,6.678847e+06,20.520000,256.000000,13.650000,10.000000,10312.000000,22.000000

In [25]:
np.sum(pr.isnull())

Ranking                  0
Author ID                0
fullname                 0
NIDN                     0
sinta_score            704
scopus_citation       1926
sinta_score_3_year    1165
scopus_hindex         1926
google_citations       674
google_hindex          674
afiliasi_name            0
dtype: int64

In [28]:
pr['sinta_score']=pr['sinta_score'].fillna(pr['sinta_score'].median())
pr['scopus_citation']=pr['scopus_citation'].fillna(pr['scopus_citation'].median())
pr['sinta_score_3_year']=pr['sinta_score_3_year'].fillna(pr['sinta_score_3_year'].median())
pr['scopus_hindex']=pr['scopus_hindex'].fillna(pr['scopus_hindex'].median())
pr['google_citations']=pr['google_citations'].fillna(pr['google_citations'].median())
pr['google_hindex']=pr['google_hindex'].fillna(pr['google_hindex'].median())
np.sum(pr.isnull())

Ranking               0
Author ID             0
fullname              0
NIDN                  0
sinta_score           0
scopus_citation       0
sinta_score_3_year    0
scopus_hindex         0
google_citations      0
google_hindex         0
afiliasi_name         0
dtype: int64

In [29]:
from scipy import stats
z=np.abs(stats.zscore(pr._get_numeric_data()))
print(z)
pr=pr[(z<3).all(axis=1)]
print(pr.shape)

[[ 1.73122504  0.0821424  14.32190565 ...  8.72079363  6.19926541
  10.19444033]
 [ 1.72957311  0.09365077 12.7851614  ... 11.67134287  2.57641528
   8.31397635]
 [ 1.72792117  0.09006598 12.19190664 ...  2.81969513  2.70800575
   7.68715502]
 ...
 [ 1.72792117  0.61922214  0.24500037 ...  0.13085412  0.08829175
   0.46152224]
 [ 1.72957311  0.0952051   0.24500037 ...  0.13085412  0.08829175
   0.46152224]
 [ 1.73122504  0.64201545  0.24500037 ...  0.13085412  0.08829175
   0.46152224]]
(1938, 11)