# Tugas 3

## Transformation

In [1]:
import pandas as pd
import numpy as np

In [2]:
qfta=pd.read_csv('qfta.csv', )
qfta.head()

,Quarter,Year,GDP (Rupee Billions),"Agriculture, Forest, Fishing",Industry,Manufactur,Construction,Services,Distribution Trade,Real Estate Activities,Public Admin,Foreign Exchange Earning (Rupee Croses),Foreign Tourists Arrival
0,1st,2005,13068,2861.0,2800.0,2030,1095.0,5449.0,1984.0,1854.0,1610.0,9393,1108967
1,2nd,2005,13455,2901.0,2861.0,2073,1139.0,5588.0,2048.0,1900.0,1639.0,6257,721024
2,3rd,2005,13644,2943.0,2891.0,2110,1166.0,5699.0,2091.0,1934.0,1673.0,6964,838583
3,4th,2005,13990,2997.0,2970.0,2177,1232.0,NaN,2152.0,1990.0,1701.0,10509,1250037
4,1st,2006,14341,3007.0,3042.0,2230,1254.0,6062.0,2222.0,2123.0,1717.0,11910,1267443

In [3]:
qfta.describe()

,Year,GDP (Rupee Billions),"Agriculture, Forest, Fishing",Industry,Manufactur,Construction,Services,Distribution Trade,Real Estate Activities,Public Admin,Foreign Exchange Earning (Rupee Croses),Foreign Tourists Arrival
count,48.000000,48.000000,43.000000,45.000000,48.000000,46.000000,45.000000,42.000000,44.000000,45.000000,48.000000,4.800000e+01
mean,2010.500000,21035.708333,3583.720930,4498.222222,3426.562500,1741.956522,9670.311111,3444.523810,3684.113636,2434.377778,21090.895833,1.544850e+06
std,3.488583,5114.083217,434.443395,1047.664261,868.946339,343.028470,2874.303899,984.683885,1392.167496,574.606873,12782.067301,4.753483e+05
min,2005.000000,13068.000000,2861.000000,2800.000000,2030.000000,1095.000000,5449.000000,1984.000000,1854.000000,1610.000000,2970.000000,7.210240e+05
25%,2007.750000,17097.250000,3248.000000,3615.000000,2733.250000,1492.000000,7374.000000,2600.000000,2647.500000,1840.000000,12124.500000,1.214037e+06
50%,2010.500000,21167.000000,3674.000000,4577.000000,3394.500000,1727.000000,9400.000000,3464.500000,3385.000000,2421.000000,18172.000000,1.489474e+06
75%,2013.250000,24863.750000,4006.000000,5150.000000,3975.500000,2021.750000,11408.000000,4119.000000,4450.750000,2850.000000,29301.500000,1.837222e+06
max,2016.000000,30706.000000,4333.000000,6739.000000,5171.000000,2229.000000,16017.000000,5253.000000,7272.000000,3592.000000,72432.000000,2.641323e+06

In [4]:
np.sum(qfta.isnull())

Quarter                                    0
Year                                       0
GDP (Rupee Billions)                       0
Agriculture, Forest, Fishing               5
Industry                                   3
Manufactur                                 0
Construction                               2
Services                                   3
Distribution Trade                         6
Real Estate Activities                     4
Public Admin                               3
Foreign Exchange Earning (Rupee Croses)    0
Foreign Tourists Arrival                   0
dtype: int64

In [5]:
qfta['Agriculture, Forest, Fishing']=qfta['Agriculture, Forest, Fishing'].fillna(qfta['Agriculture, Forest, Fishing'].mean())
qfta['Industry']=qfta['Industry'].fillna(qfta['Industry'].mean())
qfta['Construction']=qfta['Construction'].fillna(qfta['Construction'].mean())
qfta['Services']=qfta['Services'].fillna(qfta['Services'].mean())
qfta['Distribution Trade']=qfta['Distribution Trade'].fillna(qfta['Distribution Trade'].mean())
qfta['Real Estate Activities']=qfta['Real Estate Activities'].fillna(qfta['Real Estate Activities'].mean())
qfta['Public Admin']=qfta['Public Admin'].fillna(qfta['Public Admin'].mean())
np.sum(qfta.isnull())

Quarter                                    0
Year                                       0
GDP (Rupee Billions)                       0
Agriculture, Forest, Fishing               0
Industry                                   0
Manufactur                                 0
Construction                               0
Services                                   0
Distribution Trade                         0
Real Estate Activities                     0
Public Admin                               0
Foreign Exchange Earning (Rupee Croses)    0
Foreign Tourists Arrival                   0
dtype: int64

In [6]:
#missing value
qfta.to_csv('qfta_missingvalue.csv')

In [7]:
from scipy.stats import stats
z = np.abs(stats.zscore(qfta._get_numeric_data()))
print(z)

[[1.59325501e+00 1.57448065e+00 1.77841621e+00 1.69303786e+00
  1.62419851e+00 1.94786696e+00 1.53394207e+00 1.60487237e+00
  1.38890633e+00 1.49847582e+00 9.24864989e-01 9.26679787e-01]
 [1.59325501e+00 1.49800646e+00 1.67998728e+00 1.63222409e+00
  1.57418962e+00 1.81539106e+00 1.48343218e+00 1.53454703e+00
  1.35399610e+00 1.44576237e+00 1.17280502e+00 1.75143996e+00]
 [1.59325501e+00 1.46065860e+00 1.57663690e+00 1.60231567e+00
  1.53115872e+00 1.73409903e+00 1.44309695e+00 1.48729720e+00
  1.32819289e+00 1.38396039e+00 1.11690782e+00 1.50151154e+00]
 [1.59325501e+00 1.39228633e+00 1.44375784e+00 1.52355684e+00
  1.45323790e+00 1.53538518e+00 6.60985246e-16 1.42026836e+00
  1.28569347e+00 1.33306464e+00 8.36631230e-01 6.26767385e-01]
 [1.30357228e+00 1.32292602e+00 1.41915061e+00 1.45177664e+00
  1.39159904e+00 1.46914724e+00 1.31118983e+00 1.34335002e+00
  1.18475737e+00 1.30398136e+00 7.25864655e-01 5.89762527e-01]
 [1.30357228e+00 1.28538056e+00 1.35271108e+00 1.32516435e+00
  1.27995129e+00 1.43000663e+00 1.28793348e+00 1.31038502e+00
  1.16047199e+00 1.30034595e+00 1.06931219e+00 1.46904140e+00]
 [1.30357228e+00 1.19369058e+00 1.27150721e+00 1.22746353e+00
  1.18109651e+00 1.37280113e+00 1.23851373e+00 1.21039118e+00
  1.12556176e+00 1.30216365e+00 1.43268348e+00 1.30831284e+00]
 [1.30357228e+00 1.12373745e+00 1.25182143e+00 1.12677186e+00
  1.08456773e+00 1.18613054e+00 1.17455877e+00 1.12248450e+00
  1.06484831e+00 1.27489808e+00 9.58308430e-01 3.15580896e-01]
 [1.01388955e+00 1.05635322e+00 1.03035633e+00 1.01810462e+00
  9.74082983e-01 1.07473036e+00 1.09679535e+00 1.05545566e+00
  9.59358698e-01 1.24763250e+00 5.28445571e-01 1.85968225e-01]
 [1.01388955e+00 9.89759415e-01 9.36848850e-01 9.91187045e-01
  9.51986033e-01 9.99459961e-01 1.06481786e+00 1.01479883e+00
  3.45115988e-16 1.17128888e+00 9.86770934e-01 1.29653703e+00]
 [1.01388955e+00 9.39567055e-01 8.35959196e-01 9.14422112e-01
  8.89184175e-01 8.48919168e-01 1.01394460e+00 9.58758322e-01
  9.16100367e-01 1.09858067e+00 9.47239679e-01 1.02645854e+00]
 [1.01388955e+00 7.78714374e-01 5.99729763e-01 9.06718183e-16
  7.79862422e-01 7.43540613e-01 9.40905119e-01 8.35688979e-01
  8.56145839e-01 1.08040361e+00 6.08298705e-01 6.46638947e-02]
 [7.24206824e-01 7.78121551e-01 7.74441114e-01 7.56904457e-01
  7.25201546e-01 7.55583876e-01 8.34434638e-01 7.48881139e-01
  7.63557833e-01 9.11357024e-01 5.28445571e-01 1.85968225e-01]
 [7.24206824e-01 7.57175133e-01 7.32608819e-01 6.58206686e-01
  6.06575815e-01 6.17086346e-01 7.82107849e-01 4.99691587e-16
  7.43067044e-01 8.36831108e-01 8.42798105e-01 1.09433267e+00]
 [7.24206824e-01 7.38797616e-01 7.89205454e-01 6.64188369e-01
  6.34487751e-01 5.68913293e-01 7.45769801e-01 6.55480298e-01
  7.10433567e-01 7.49581256e-01 7.03252778e-01 8.47257320e-01]
 [7.24206824e-01 7.09551674e-01 8.16273410e-01 9.06718183e-16
  6.74029662e-01 6.92356743e-01 6.61828909e-01 6.62073299e-01
  6.26952578e-01 5.18732688e-01 5.40067760e-01 1.50953287e-01]
 [4.34524095e-01 7.69031596e-01 7.79362561e-01 8.80525908e-01
  8.85695183e-01 5.26761871e-01 5.98600705e-01 7.06026636e-01
  4.83517060e-01 4.73290056e-01 6.15967768e-01 2.96013350e-01]
 [4.34524095e-01 5.87034889e-01 1.11900739e-15 5.26609657e-01
  5.21677007e-01 4.30415763e-01 5.09572487e-01 5.09335453e-01
  4.97177585e-01 3.20602814e-01 7.81287474e-01 1.16394160e+00]
 [4.34524095e-01 4.95740125e-01 7.37530265e-01 3.62113372e-01
  3.60020373e-01 3.09983129e-01 4.30355542e-01 3.82969610e-01
  4.72892207e-01 1.91545741e-01 6.23874019e-01 8.89281623e-01]
 [4.34524095e-01 4.16104215e-01 1.11900739e-15 2.70394231e-01
  2.53024615e-01 2.79874970e-01 3.72941426e-01 3.00557103e-01
  4.30392794e-01 0.00000000e+00 4.02498995e-01 1.98377587e-01]
 [1.44841365e-01 3.18288395e-01 5.28368788e-01 1.93629298e-01
  1.83244773e-01 1.50409888e-01 2.92634340e-01 2.02760929e-01
  3.26421017e-01 1.51556225e-01 2.64455855e-01 1.90639009e-01]
 [1.44841365e-01 2.21263007e-01 2.82296462e-01 1.39794150e-01
  1.55332836e-01 1.35355809e-01 2.11600492e-01 4.99691587e-16
  2.76332423e-01 1.22472941e-01 5.90114328e-01 9.75868653e-01]
 [1.44841365e-01 1.28189772e-01 1.11900739e-15 5.80444805e-02
  9.60199702e-02 1.23312545e-01 1.56366659e-01 2.79940895e-02
  2.40663273e-01 5.70355517e-02 5.01959631e-01 6.07497477e-01]
 [1.44841365e-01 1.99007438e-02 8.06888326e-03 1.06451805e-01
  9.58745955e-02 3.32498795e-02 9.82257818e-02 8.84299277e-02
  1.73878482e-01 2.43168570e-02 1.83179597e-01 5.34450831e-01]
 [1.44841365e-01 7.17892366e-02 2.22151807e-01 1.09442647e-01
  1.34253509e-01 1.86801488e-01 1.15151237e-02 2.12598104e-01
  8.96385745e-02 1.15646448e-01 1.69106470e-01 5.11639035e-01]
 [1.44841365e-01 1.45496915e-01 2.86130612e-01 2.49015252e-01
  2.05196348e-01 4.06591046e-01 1.27796878e-01 1.59069219e-02
  2.73883187e-01 1.53818258e-01 3.85816806e-01 6.55317209e-01]
 [1.44841365e-01 8.28552687e-02 2.93512782e-01 2.91330122e-02
  9.36939754e-02 6.56488763e-01 1.75399721e-01 4.99691587e-16
  3.20177191e-01 2.06531711e-01 1.97094598e-01 4.80946221e-01]
 [1.44841365e-01 1.66048117e-01 6.08485359e-01 7.85372838e-02
  1.91167692e-02 6.92618553e-01 5.09863192e-02 1.06011262e-01
  2.13342222e-01 2.73786806e-01 2.16560447e-01 9.00623741e-01]
 [4.34524095e-01 2.41929480e-01 4.95292089e-01 2.83908404e-01
  3.27311072e-01 6.84580268e-16 1.17985605e-01 2.06005104e-01
  5.30380252e-02 0.00000000e+00 3.06533581e-01 8.82958950e-01]
 [4.34524095e-01 3.05954380e-01 4.78067027e-01 2.65963355e-01
  1.99381361e-01 6.84580268e-16 4.33763244e-01 4.00498619e-01
  5.62272059e-01 3.55583542e-01 1.81756471e-01 6.13348181e-01]
 [4.34524095e-01 3.60889325e-01 5.19899322e-01 3.59676390e-01
  3.55223008e-01 5.30034497e-01 5.06075960e-01 4.65329791e-01
  6.40440622e-01 4.21020932e-01 9.56738710e-02 4.17568546e-01]
 [4.34524095e-01 4.19183602e-01 1.11900739e-15 3.65658073e-01
  3.33126058e-01 6.44445499e-01 2.47712437e-01 4.94998293e-01
  7.27698953e-02 4.41015690e-01 5.79931736e-01 9.94832420e-01]
 [7.24206824e-01 4.92100849e-01 6.79846334e-01 4.22484063e-01
  4.64544761e-01 8.40148530e-01 3.84706879e-01 5.43346964e-01
  2.90579385e-01 5.24630132e-01 7.50627692e-01 1.07069812e+00]
 [7.24206824e-01 5.60868334e-01 9.06232874e-01 4.22484063e-01
  4.38958819e-01 7.22726712e-01 7.23740868e-01 5.59829465e-01
  3.45115988e-16 5.90067521e-01 7.02832758e-03 4.84666691e-01]
 [7.24206824e-01 6.38330559e-01 9.89897465e-01 5.05230679e-01
  4.93619695e-01 7.85953845e-01 6.60985246e-16 4.99691587e-16
  1.18230813e+00 0.00000000e+00 2.91827955e-01 2.03220576e-01]
 [7.24206824e-01 7.42074610e-01 1.22120545e+00 6.49788021e-01
  6.40157364e-01 7.76921397e-01 5.20247798e-01 8.94973659e-01
  3.14105846e-01 5.64619647e-01 8.07315511e-01 1.29289309e+00]
 [1.01388955e+00 7.99578456e-01 1.20644111e+00 6.57763598e-01
  6.37831369e-01 8.43159346e-01 6.31442226e-01 8.01572818e-01
  5.31915336e-01 7.55478700e-01 9.93191468e-01 1.40113113e+00]
 [1.01388955e+00 9.11424423e-01 1.06864061e+00 8.72107243e-01
  8.35540921e-01 1.01176503e+00 6.60985246e-16 1.03342667e+00
  3.45115988e-16 8.57270194e-01 3.47092648e-01 8.45014408e-02]
 [1.01388955e+00 1.00528809e+00 1.09324784e+00 9.35911863e-01
  9.04157766e-01 1.11714359e+00 1.35093558e+00 1.13781584e+00
  1.70292594e+00 9.91780383e-01 6.82712997e-01 2.25685837e-01]
 [1.01388955e+00 1.08334314e+00 1.05141555e+00 9.32921021e-01
  8.49496890e-01 1.01477585e+00 9.19239567e-01 4.99691587e-16
  6.91288133e-01 1.18445714e+00 1.05699491e+00 1.64601672e+00]
 [1.30357228e+00 1.17621876e+00 1.02680831e+00 1.12034709e+00
  1.05534742e+00 1.02380830e+00 1.05223682e+00 1.37186736e+00
  8.57491194e-01 1.13537910e+00 1.08980585e+00 1.56229126e+00]
 [1.30357228e+00 1.29814272e+00 1.06125844e+00 1.37058084e+00
  1.30655486e+00 1.26166275e+00 1.53226244e+00 1.50043087e+00
  1.73024699e+00 1.23353518e+00 6.37963617e-01 4.34572157e-02]
 [1.30357228e+00 1.41216238e+00 1.11047291e+00 1.55501606e+00
  1.46588549e+00 1.17735991e+00 1.85240064e+00 1.57844805e+00
  2.30171231e+00 1.33714438e+00 1.00544616e+00 4.87160469e-01]
 [1.30357228e+00 1.51393035e+00 1.11900739e-15 1.70356119e+00
  1.59497820e+00 1.30983580e+00 1.31532429e+00 1.70371506e+00
  1.05405098e+00 1.43166506e+00 1.28548556e+00 1.83533974e+00]
 [1.59325501e+00 1.64850120e+00 1.24581268e+00 1.87304222e+00
  1.77524279e+00 1.36101967e+00 1.48538636e+00 1.98501641e+00
  3.45115988e-16 1.50437327e+00 1.52006403e+00 2.03159560e+00]
 [1.59325501e+00 1.73999358e+00 1.52141369e+00 1.97173999e+00
  1.83339266e+00 1.45134415e+00 2.00138664e+00 1.95095258e+00
  2.20684755e+00 1.69341461e+00 4.05915649e+00 2.53383141e-01]
 [1.59325501e+00 1.82773140e+00 1.67889998e+00 9.06718183e-16
  1.91015049e+00 1.43327925e+00 2.30626287e+00 1.98721408e+00
  2.72291184e+00 1.92244548e+00 1.37482620e+00 9.45949696e-01]
 [1.59325501e+00 1.91092425e+00 1.84376844e+00 2.23393710e+00
  2.02877622e+00 1.46639823e+00 1.63873292e+00 4.99691587e-16
  1.16333518e+00 2.10421600e+00 1.72562655e+00 2.33108281e+00]]

In [8]:
print(np.where(z>3))
qfta1=qfta[(z<3).all(axis=1)]
print(qfta.shape)
print(qfta1.shape)

(array([45]), array([10]))
(48, 13)
(47, 13)

In [9]:
#missing value & outlier
qfta1.to_csv('qfta_missvalout.csv')

In [10]:
x=qfta.iloc[0:50,2:13]
x.tail()

,GDP (Rupee Billions),"Agriculture, Forest, Fishing",Industry,Manufactur,Construction,Services,Distribution Trade,Real Estate Activities,Public Admin,Foreign Exchange Earning (Rupee Croses),Foreign Tourists Arrival
43,28697,3583.72093,6207.000000,4798,2177.0,13290.0,4995.00000,5073.000000,3222.0,37350,2408140
44,29378,4090.00000,6377.000000,4953,2194.0,13758.0,5251.00000,3684.113636,3262.0,40317,2500453
45,29841,4202.00000,6476.000000,5003,2224.0,15178.0,5220.00000,6592.000000,3366.0,72432,1664034
46,30285,4266.00000,4498.222222,5069,2218.0,16017.0,5253.00000,7272.000000,3492.0,38480,1989797
47,30706,4333.00000,6739.000000,5171,2229.0,14180.0,3444.52381,5217.000000,3592.0,42917,2641323

In [11]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') #default norm l2, other are l1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10
43,0.011914,0.001488,0.002577,0.001992,0.000904,0.005518,0.002074,0.002106,0.001338,0.015507,0.999781
44,0.011746,0.001635,0.002550,0.001980,0.000877,0.005501,0.002100,0.001473,0.001304,0.016120,0.999775
45,0.017912,0.002522,0.003887,0.003003,0.001335,0.009110,0.003133,0.003957,0.002020,0.043477,0.998821
46,0.015215,0.002143,0.002260,0.002547,0.001114,0.008047,0.002639,0.003653,0.001754,0.019332,0.999645
47,0.011623,0.001640,0.002551,0.001957,0.000844,0.005367,0.001304,0.001975,0.001360,0.016245,0.999775

In [12]:
#missing value & transformasi
xnorm.to_csv('qfta_xnorm.csv')

In [13]:
y=qfta1.iloc[0:50,2:13]
y.tail()

,GDP (Rupee Billions),"Agriculture, Forest, Fishing",Industry,Manufactur,Construction,Services,Distribution Trade,Real Estate Activities,Public Admin,Foreign Exchange Earning (Rupee Croses),Foreign Tourists Arrival
42,28182,4035.00000,6058.000000,4687,2133.0,14768.0,4881.00000,6717.000000,3170.0,33808,1773996
43,28697,3583.72093,6207.000000,4798,2177.0,13290.0,4995.00000,5073.000000,3222.0,37350,2408140
44,29378,4090.00000,6377.000000,4953,2194.0,13758.0,5251.00000,3684.113636,3262.0,40317,2500453
46,30285,4266.00000,4498.222222,5069,2218.0,16017.0,5253.00000,7272.000000,3492.0,38480,1989797
47,30706,4333.00000,6739.000000,5171,2229.0,14180.0,3444.52381,5217.000000,3592.0,42917,2641323

In [14]:
#normalization
from sklearn.preprocessing import normalize
ynorm=normalize(y,norm='l2') #default norm l2, other are l1 and max
ynorm=pd.DataFrame(ynorm)
ynorm.tail()

,0,1,2,3,4,5,6,7,8,9,10
42,0.015880,0.002274,0.003414,0.002641,0.001202,0.008322,0.002750,0.003785,0.001786,0.019051,0.999633
43,0.011914,0.001488,0.002577,0.001992,0.000904,0.005518,0.002074,0.002106,0.001338,0.015507,0.999781
44,0.011746,0.001635,0.002550,0.001980,0.000877,0.005501,0.002100,0.001473,0.001304,0.016120,0.999775
45,0.015215,0.002143,0.002260,0.002547,0.001114,0.008047,0.002639,0.003653,0.001754,0.019332,0.999645
46,0.011623,0.001640,0.002551,0.001957,0.000844,0.005367,0.001304,0.001975,0.001360,0.016245,0.999775

In [15]:
#missing value,outlier & transformasi
ynorm.to_csv('qfta_ynorm.csv')