
# Kuis

In [66]:
import numpy as np
import pandas as pd

In [89]:
data=pd.read_csv('weatherAUS.csv')
data['RainTomorrow'].replace({'No':0,'Yes':1},inplace=True)
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,NaN,NaN,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,0.0,0.0
1,7.4,25.1,0.0,NaN,NaN,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,0.0,0.0
2,12.9,25.7,0.0,NaN,NaN,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0.0,0.0
3,9.2,28.0,0.0,NaN,NaN,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,1.0,0.0
4,17.5,32.3,1.0,NaN,NaN,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0.2,0.0

In [90]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM,RainTomorrow
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682,0.224181
std,6.398495,7.119049,8.478060,4.193704,3.785483,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969,0.417043
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000,0.000000
max,33.900000,48.100000,371.000000,145.000000,14.500000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000,1.000000

In [91]:
data=data.drop(columns=['Sunshine','Evaporation','Cloud9am','Cloud3pm','RISK_MM'],axis=1)
data.shape

(145460, 12)

In [92]:
np.sum(data.isnull())

MinTemp          1485
MaxTemp          1261
Rainfall         3261
WindSpeed9am     1767
WindSpeed3pm     3062
Humidity9am      2654
Humidity3pm      4507
Pressure9am     15065
Pressure3pm     15028
Temp9am          1767
Temp3pm          3609
RainTomorrow     3267
dtype: int64

In [93]:
data['MinTemp']=data['MinTemp'].fillna(data['MinTemp'].mean())
data['MaxTemp']=data['MaxTemp'].fillna(data['MaxTemp'].mean())
data['Rainfall']=data['Rainfall'].fillna(data['Rainfall'].mean())
data['WindSpeed9am']=data['WindSpeed9am'].fillna(data['WindSpeed9am'].mean())
data['WindSpeed3pm']=data['WindSpeed3pm'].fillna(data['WindSpeed3pm'].mean())
data['Humidity9am']=data['Humidity9am'].fillna(data['Humidity9am'].mean())
data['Humidity3pm']=data['Humidity3pm'].fillna(data['Humidity3pm'].mean())
data['Pressure9am']=data['Pressure9am'].fillna(data['Pressure9am'].mean())
data['Pressure3pm']=data['Pressure3pm'].fillna(data['Pressure3pm'].mean())
data['Temp9am']=data['Temp9am'].fillna(data['Temp9am'].mean())
data['Temp3pm']=data['Temp3pm'].fillna(data['Temp3pm'].mean())
np.sum(data.isnull())

MinTemp            0
MaxTemp            0
Rainfall           0
WindSpeed9am       0
WindSpeed3pm       0
Humidity9am        0
Humidity3pm        0
Pressure9am        0
Pressure3pm        0
Temp9am            0
Temp3pm            0
RainTomorrow    3267
dtype: int64

In [94]:
from scipy.stats import stats
z = np.abs(stats.zscore(data._get_numeric_data()))
print(z)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02            nan]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01            nan]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01            nan]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01            nan]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01            nan]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01            nan]]

In [95]:
print(np.where(z>3))
data1=data[(z<3).all(axis=1)]
print(data.shape)
print(data1.shape)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: RuntimeWarning: invalid value encountered in greater
  if __name__ == '__main__':
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: RuntimeWarning: invalid value encountered in less
  from ipykernel import kernelapp as app

(array([    12,     12,     52, ..., 145279, 145279, 145393]), array([7, 8, 4, ..., 2, 8, 2]))
(145460, 12)
(0, 12)

In [96]:
x=data.iloc[0:139135,1:11]
x.tail()

,MaxTemp,Rainfall,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
139130,31.4,0.0,7.0,22.0,83.0,72.0,1013.6,1010.0,25.2,28.3
139131,32.7,0.0,22.0,22.0,70.0,36.0,1012.2,1009.0,24.0,30.9
139132,32.5,0.0,26.0,19.0,30.0,28.0,1012.8,1009.1,24.8,31.8
139133,30.9,0.0,31.0,26.0,30.0,20.0,1014.4,1010.7,22.9,30.3
139134,29.1,0.0,28.0,15.0,27.0,19.0,1014.5,1010.3,20.5,28.3

In [97]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') #default norm l2, other are l1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9
139130,0.021864,0.0,0.004874,0.015319,0.057794,0.050134,0.705778,0.703272,0.017547,0.019706
139131,0.022825,0.0,0.015357,0.015357,0.048862,0.025129,0.706539,0.704305,0.016753,0.021569
139132,0.022702,0.0,0.018162,0.013272,0.020956,0.019559,0.707465,0.704881,0.017323,0.022213
139133,0.021551,0.0,0.021620,0.018133,0.020923,0.013949,0.707478,0.704897,0.015971,0.021132
139134,0.020304,0.0,0.019537,0.010466,0.018839,0.013257,0.707853,0.704922,0.014304,0.019746

In [99]:
#feature selection
from sklearn.feature_selection import SelectKBest, chi2
Xx=data.drop(columns=['RainTomorrow'])
y=data['RainTomorrow']
selector=SelectKBest(chi2, k="all").fit(Xx,y)
X_new=selector.transform(Xx)
scores=selector.scores_
scores

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').